@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to right,#F2D3AC,#A66D3C);


}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #83562fd5;
    width: 600px;
    padding:10px;
    margin: auto;
}

h1{
    color: #797831;
    text-align: center;
    text-shadow: 1px 1px 2px #6b6a2ccb;


}
h2{
    color: #266573;


}



p{
    text-align: justify;
}